
{% block title %}Hello!{% endblock %}

{% block body %}
<h1 class="text-center"> </h1>
<strong>Product title: </strong> {{product.name}}
<hr>
<strong> Product price: </strong> {{product.price}}
<hr>
<strong> Product description: </strong> {{product.description}}
<hr>
<strong> Product category: </strong> {{product.category}}
{% endblock %}
